{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="column is-4 is-offset-4">
  <h3 class="title">login Aerogest Online</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST" action="/login">
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="name"
            name="name"
            placeholder="Compte aerogest online"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">
        Login
      </button>
    </form>
  </div>
</div>
{% endblock %}
